table , th , td , tr{
    border-collapse: separate;
    border-spacing: 3px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

th{
    background-color:#af5602 ;
    border-radius: 10px;
    padding: 5px;

}

td{
    background-color: #ff7a00;
    border-radius: 10px;
    padding:10px;
    text-align: center;
    font-size: 17px;
    
}
body{
    background-color: #ffefcf;
}


#heading{
    background-color:#ff7a00;
    height: 100px;
    }
    
    #heading div {
        float:left;
        padding-left:70px;
        padding-top: 15px;
    }
    
    
    #heading ul li{
        display: inline-block;
        padding-top: 40px;
        padding-left: 5%;
        margin-left:5% ;
        
    }
    
    
    nav ul li a {
        text-decoration: none;
        font-weight: 900;
        color: white;
        font-size: 20px;
        font-family: 'Comfortaa', cursive;

    }

    #bigimg{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    

    #location{
        background-color: #f9e0ae;
        height: 150px;
        width: 400px;
        font-size: 20px;
        margin-left: 22%;
 
    }

    #hours{
        background-color: #f9e0ae;
        height: 150px;
        width: 400px;
        font-size: 20px;
        margin-left: 52%;
        position:relative;
        bottom: 150px;
 
    }

    #medimg{
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #medimg img {
        padding: 10px;
        height: 300px;
        width: 270px;
    
    }

    #contact{
        background-color: #f9e0ae;
        height: 150px;
        width: 400px;
        font-size: 20px;
        margin-left: 22%;
  
    }

    #fish{
        
        font-size: 20px;
        margin-left: 50%;
        position:relative;
        bottom: 150px;
 
    }
    #fish img{
        width:429px;
        height: 150px;
    }

    #lot{
        position: relative;
        bottom: 140px;
    }



    #shirt{
        font-size: 20px;
        margin-left: 57%;
        position:relative;
        bottom: 150px;
    }

    #saving{
        background-color: #ff7a00;
        height: 250px;
        width: 400px;
        font-size: 30px;
        margin-left: 22%;
        position: relative;
        bottom: 450px;
        text-align: center;
        color: #f9e0ae;
    }



    footer{
        background-color: #ff7a00;
        height: 100px;
        text-align: center;
        font-size: 20px;
        padding-top: 30px;
    
    }
       
        
#salesheader{
    background-color:#ff7a00 ;
    height: 130px;
    margin-bottom: 50px;
}
 
#salesheader div{
    float: left;
    padding-left: 20px;
    padding-top: 10px;
}

#salesheader a{
    float:right;
    text-decoration: none;
    background-color:#f9e0ae ;
    width: 150px;
    height: 40px;
   font-size: 20px;
   border: gray solid 1px;
   text-align: center;
   line-height:40px;
   border-radius: 15px;
   margin-right:5% ;
   margin-top: 2%;
   font-family: 'Comfortaa', cursive;

}

legend{
    text-align: center;
    font-family: 'Satisfy', cursive;
    color: #ff7a00;
    font-weight: 900;
    text-shadow: 2px 1px rgb(170, 170, 170);
    font-size: 20px;
}

fieldset{
    color: #944700;
    border: #ff7a00 3px solid;
    margin-bottom: 50px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;

}

#form{
display: block;
text-align: center;

}

#submit{
    background-color:#f7a75d ;
    border-radius: 10px;
    padding: 5px;
}

footer{
    background-color:#ff7a00 ;
    height: 50px ;
}


#sc{
    display: inline;
    line-height: 0;
    width: 200px;
    
}


#sc h2{
    font-family: 'Satisfy', cursive;
    color: rgb(126, 53, 1);
    text-align: center;
    font-size: 33px;

}

